<p>Setting > Admin > Users > {{user?.full_name}} </p>
<div class="min-h-[42rem] max-w-[60rem] mx-auto p-2">
        <div class="flex flex-row justify-center items-center flex flex-col">
            <div class="w-[20rem] h-[20rem] rounded-md">
                <img src="{{user?.avatar_url}}" class="w-full h-full object-cover bg-cover rounded-md">
            </div>
            <div class="py-3 text-2xl">{{user?.full_name}}</div>
            <div class="grid grid-cols-3 gap-3 py-5 bg-black text-white px-4 mb-4 rounded-md">
                <div>Email : {{user?.email}}</div>
                <div>Role  : {{user?.role == 0 ? 'User' : 'Admin'}}</div>
                <div>Created  : {{convertToLocaleTime(user?.create_at)}}</div>
            </div>
        </div>

        <div *ngIf="user && user.pictures">
            <div *ngIf="user.pictures.length == 0">User not have images</div>
            <div  class="grid grid-cols-4 ">
                <app-card-vote
                  *ngFor="let item of user.pictures"
                  [score]="item.vote_count"
                  [image]="item.url"
                  [rank]="item.rank"
                  [elo]="item.rating_score"
                  [id]="item.pid"
                />
            </div>
            <p class="text-2xl text-center">Daily Rating History (7D) </p>
            <app-report-chart *ngIf="!loadingChart" [datasets]="datasets" />
        </div>




</div>