<p>Setting > My Logs</p>
<div class="min-h-[42rem] max-w-[60rem] mx-auto p-2">
  <div
    *ngFor="
      let log of logs
        | paginate
          : {
              itemsPerPage: 10,
              currentPage: currentPage,
              totalItems: totalLogs
            };
      let i = index
    "
    [class.bg-gray-300]="i % 2 == 0"
    [class.bg-white]="i % 2 != 0"
    class="grid grid-cols-4 w-full p-2"
  >
    <div class="flex justify-start">You vote {{ log.name }}</div>
    <div class="flex justify-center">
      <img src="{{ log.url }}" class="w-5 h-5 rounded-md bg-cover" />
    </div>
    <div class="flex justify-center {{ log.score < 0 ? 'text-red-800' : 'text-green-800'}}">
      <span class=" px-2 ">{{ log.score }}</span>
    </div>
    <div class="flex justify-center">
      {{ convertToLocaleTime(log.date) }}
    </div>
  </div>
</div>
<div class="flex justify-center items-center">
  <pagination-controls
    class="mb-2 my-pagination"
    (pageChange)="pageChanged($event)"
    [maxSize]="8"
    [directionLinks]="true"
    [responsive]="true"
  ></pagination-controls>
</div>
