<div class="flex justify-center items-center">
  <div class="w-[60rem] lg:w-[88rem] mx-auto">
    <app-navbar (sendEvent)="goBack()" navigateArrow="left" />

    <div
      class="max-w-[45rem] mx-auto h-[4rem] my-6 rounded-md bg-gray-100 p-2 items-center flex gap-x-3"
    >
      <div
        (click)="setStep(i)"
        *ngFor="let menu of menus; let i = index"
        class="px-6 rounded-xl py-2 bg-black text-white inline-block hover:bg-opacity-50 cursor-pointer"
        [class.bg-opacity-50]="step !== i"
      >
        {{ menu }}
      </div>
    </div>

    <div class="mt-4">
      <div class="flex flex-row items-center gap-x-3">
        <div class="text-2xl py-4">
          {{ step == 0 ? "Top 10" : "All Pictures" }}
        </div>
        <!-- <div>
          <select class="px-4 border border-black rounded-lg outline-none">
            <option *ngFor="let item of dateRanks">
              {{ convertToLocaleDate(item.date_only) }}
            </option>
          </select>
        </div> -->
      </div>
      <div class="grid grid-cols-6">
        <app-card-vote
          *ngFor="let item of topTen"
          [score]="item.vote_count"
          [image]="item.url"
          [rank]="item.rank"
          [elo]="item.rating_score"
          [id]="item.pid"
        />
      </div>
    </div>

    <!-- <div class="mt-4">
      <div class="flex flex-row items-center gap-x-3">
        <div class="text-2xl py-4">Rank 1 - {{pictures.length}}</div>
      </div>
      <div class="grid grid-cols-6">
        <app-card-vote
          *ngFor="let item of pictures"
          [score]="item.vote_count"
          [image]="item.url"
          [rank]="item.rank"
          [elo]="item.rating_score"
          [id]="item.pid"
        />
      </div>
    </div> -->
  </div>
</div>
