<div class="grid grid-cols-12 h-screen">
  <div class="col-span-2">
    <app-setting-navigate />
  </div>
  <div class="col-span-10 p-10">
    <p>Setting > My Gallery</p>
    <div class="h-[45rem] p-2">
      <div
        *ngIf="pictures && pictures.length == 0"
        class="h-[35rem] flex items-center justify-center"
      >
        <div class="text-md lg:text-2xl">You don't have an images</div>
      </div>

      <div
        *ngIf="pictures && pictures.length > 0"
        class="h-[35rem] grid grid-cols-3 gap-5 mt-14"
      >
        <app-card-vote
          *ngFor="let item of pictures"
          [score]="item.vote_count"
          [image]="item.url"
          [rank]="item.rank"
          [elo]="item.rating_score"
        />
      </div>
    </div>
  </div>
</div>
