<div
  *ngIf="!loading"
  class="relative overflow-hidden w-[100dvw] h-[100dvh] bg-black grid grid-cols-1 lg:grid-cols-2 transition-all duration-300 ease-in-out"
>
  <div class="hidden lg:flex relative bg-black">
    <img
      class="relative w-full h-full bg-cover bg-center object-cover"
      src="/assets/images/login_background.png"
    />
  </div>
  <div class="relative bg-white flex flex-row justify-center p-6 lg:p-5">
    <div
      class="w-[38rem] max-w-[38rem] h-full bg-white transition-all duration-300"
    >
      <div class="flex flex-col mt-16 lg:mt-28">
        <div class="font-bold text-2xl text-center lg:text-4xl lg:text-left  pb-2">Sign Up</div>
        <div class="font-light text-md lg:text-lg">
          Fill in complete information to apply for membership.
        </div>
      </div>

      <div class="flex flex-col mt-8 lg:mt-16 lg:max-w-[28rem] gap-y-6">
        <div class="flex flex-col gap-y-3">
          <span class="font-light">Full Name</span>
          <div class="grid grid-cols-12 border border-black rounded-md lg:py-3">
            <div class="col-span-2 flex items-center justify-center">
              <svg
                class="w-8 h-4 lg:w-12 lg:h-6"
                viewBox="0 0 14 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_131_737)">
                  <path
                    d="M7 8C9.20938 8 11 6.20937 11 4C11 1.79063 9.20938 0 7 0C4.79063 0 3 1.79063 3 4C3 6.20937 4.79063 8 7 8ZM9.8 9H9.27812C8.58437 9.31875 7.8125 9.5 7 9.5C6.1875 9.5 5.41875 9.31875 4.72188 9H4.2C1.88125 9 0 10.8813 0 13.2V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V13.2C14 10.8813 12.1187 9 9.8 9Z"
                    fill="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_131_737">
                    <rect class="w-8 h-4 lg:w-12 lg:h-6" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="col-span-10">
              <input
                [(ngModel)]="full_name"
                class="h-12 w-full lg:h-full outline-none rounded-md"
                type="text"
                placeholder="example. Izuku Midoriya"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-y-3">
          <span class="font-light">Email</span>
          <div class="grid grid-cols-12 border border-black rounded-md py-3">
            <div class="col-span-2 flex items-center justify-center">
              <svg
                class="w-8 h-4 lg:w-12 h-6"
                viewBox="0 0 17 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.6779 4.21016C16.8074 4.10723 17 4.20352 17 4.36621V11.1562C17 12.0361 16.2861 12.75 15.4062 12.75H1.59375C0.713867 12.75 0 12.0361 0 11.1562V4.36953C0 4.20352 0.189258 4.11055 0.32207 4.21348C1.06582 4.79121 2.05195 5.525 5.43867 7.98535C6.13926 8.49668 7.32129 9.57246 8.5 9.56582C9.68535 9.57578 10.8906 8.47676 11.5646 7.98535C14.9514 5.525 15.9342 4.78789 16.6779 4.21016ZM8.5 8.5C9.27031 8.51328 10.3793 7.53047 10.9371 7.12539C15.3432 3.92793 15.6785 3.64902 16.6945 2.85215C16.8871 2.70273 17 2.47031 17 2.22461V1.59375C17 0.713867 16.2861 0 15.4062 0H1.59375C0.713867 0 0 0.713867 0 1.59375V2.22461C0 2.47031 0.112891 2.69941 0.305469 2.85215C1.32148 3.6457 1.65684 3.92793 6.06289 7.12539C6.6207 7.53047 7.72969 8.51328 8.5 8.5Z"
                  fill="black"
                />
              </svg>
            </div>
            <div class="col-span-10">
              <input
                [(ngModel)]="email"
                class="h-12 w-full h-full outline-none rounded-md"
                type="email"
                placeholder="example@email.com"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-y-3">
          <span class="font-light">Password</span>
          <div class="grid grid-cols-12 border border-black rounded-md py-3">
            <div class="col-span-2 flex items-center justify-center">
              <svg
                class="w-8 h-4 lg:w-12 h-6"
                viewBox="0 0 19 19"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_131_719)">
                  <path
                    d="M19 6.53125C19 10.1383 16.0758 13.0625 12.4688 13.0625C12.0531 13.0625 11.6449 13.0217 11.2516 12.9475L10.3609 13.9494C10.2773 14.044 10.1744 14.1197 10.0593 14.1716C9.94412 14.2234 9.81925 14.2501 9.69297 14.25H8.3125V15.7344C8.3125 16.2279 7.91543 16.625 7.42188 16.625H5.9375V18.1094C5.9375 18.6029 5.54043 19 5.04688 19H0.890625C0.39707 19 0 18.6029 0 18.1094V15.2111C0 14.9736 0.0927734 14.7473 0.259766 14.5803L6.26406 8.57598C6.05254 7.93398 5.9375 7.24746 5.9375 6.53125C5.9375 2.92422 8.86172 0 12.4688 0C16.0869 0 19 2.91309 19 6.53125ZM12.4688 4.75C12.4688 5.7334 13.2666 6.53125 14.25 6.53125C15.2334 6.53125 16.0312 5.7334 16.0312 4.75C16.0312 3.7666 15.2334 2.96875 14.25 2.96875C13.2666 2.96875 12.4688 3.7666 12.4688 4.75Z"
                    fill="black"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_131_719">
                    <rect width="19" height="19" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="col-span-10">
              <input
                [(ngModel)]="password"
                class="h-12 w-full h-full outline-none rounded-md"
                type="password"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
        <div
          (click)="SignUp()"
          class="gap-y-3 cursor-pointer hover:bg-opacity-75 transition-all duration-300 ease-in-out bg-black h-12 lg:h-14 rounded-lg my-4 flex justify-center items-center"
        >
          <div class="text-white text-xl font-light">Sign up</div>
        </div>
        <div class="flex flex-col gap-y-3">
          <div class="text-black text-sm md:text-md font-light">
            Already have an account?
            <span
              (click)="goLogin()"
              class="font-bold text-sm md:text-md cursor-pointer"
              >Sign In</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="loading"
  class="bg-black w-screen h-screen flex justify-center items-center"
>
  <span class="text-white font-light text-">Loading...</span>
</div>
