<div class="w-[25rem] h-[35rem] lg:w-[60rem] lg:h-[38rem] mx-auto">
  <div
    *ngIf="isLoading"
    class="h-[15rem] lg:h-[38rem] flex justify-center items-center py-5"
  >
    <img src="assets/images/spinner.gif" />
  </div>

  <div class="" *ngIf="!isLoading">
    <div class="grid grid-cols-2 px-10">
      <div
        *ngFor="let picture of pictures; let i = index"
        class="px-4 text-center flex flex-row items-center justify-between gap-x-2 py-2"
      >
        <span class="bg-black px-3 text-white rounded-lg">Uploaded by</span>
        <span class="flex flex-row text-sm items-center gap-x-3"
          >{{ picture?.ref?.full_name ?? "" }}
          <img
            class="w-5 h-5 object-cover bg-cover rounded-md"
            [src]="picture.ref.avatar_url ?? ''"
          />
        </span>
      </div>
    </div>
    <div class="grid grid-cols-2 px-10 gap-x-6 mb-4">
      <div
        *ngFor="let picture of pictures; let i = index"
        class="relative bg-gray-300 h-[15rem] lg:h-[28rem] rounded-lg overflow-hidden border-4  {{
          i % 2 === 0 ? 'border-red-400' : 'border-blue-400'
        }}"
      >
        <img
          *ngIf="picture?.url"
          (click)="handleVote(picture?.pid)"
          class="w-full h-full hover:scale-110 object-cover bg-center cursor-pointer rounded-lg transition-all duration-300"
          [src]="picture?.url"
        />
      </div>
    </div>

    <div class="flex flex-row w-full justify-center items-center gap-x-4">
      <div
        class="transition-all duration-300 rounded-xl bg-[#FF8B72] px-6 py-2 lg:py-4 w-[6rem] lg:w-[12rem] text-center text-white font-light text-md"
      >
        <p class="whitespace-nowrap">{{ getPlayer(0) }}</p>
      </div>
      <div
        class="transition-all duration-300 rounded-xl bg-black px-3 lg:px-6 py-3 lg:py-6 w-[6rem] lg:w-[14rem] text-center text-white font-medium text-2xl"
      >
        Vs
      </div>
      <div
        class="transition-all duration-300 rounded-xl bg-[#72BBFF] px-6 py-2 lg:py-4 w-[6rem] lg:w-[12rem] text-center text-white font-light text-md"
      >
        <p class="whitespace-nowrap">{{ getPlayer(1) }}</p>
      </div>
    </div>
  </div>

  <div class="pt-4 flex justify-center items-center px-4">
    <div class="flex flex-col justify-center items-center gap-y-2">
      <div class="flex flex-row gap-x-2">
        <p>Vote System =></p>
        <div
          class="text-sm lg:text-md underline text-blue-500 cursor-pointer"
        >
          How are votes scored?
        </div>
      </div>
      <div class="flex flex-row gap-x-2">
        <p>Vote cooldown Time =></p>
        <div
          class="text-sm lg:text-md text-center"
        >
          {{cooldown()}} S
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="isLoggedIn()"
  class="pt-4 flex justify-center lg:justify-end items-center px-4">
    <div
      (click)="goToTopRank()"
      class="px-4 bg-black cursor-pointer hover:bg-opacity-50 transition-all duration-300 text-white py-3 rounded-md flex flex-row gap-x-2 items-center"
    >
      <svg
        width="20"
        height="16"
        viewBox="0 0 20 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_131_693)">
          <path
            d="M6.75 9H5.25C4.975 9 4.75 9.225 4.75 9.5V15.5C4.75 15.775 4.975 16 5.25 16H6.75C7.025 16 7.25 15.775 7.25 15.5V9.5C7.25 9.225 7.025 9 6.75 9ZM2.75 12H1.25C0.975 12 0.75 12.225 0.75 12.5V15.5C0.75 15.775 0.975 16 1.25 16H2.75C3.025 16 3.25 15.775 3.25 15.5V12.5C3.25 12.225 3.025 12 2.75 12ZM10.75 6H9.25C8.975 6 8.75 6.225 8.75 6.5V15.5C8.75 15.775 8.975 16 9.25 16H10.75C11.025 16 11.25 15.775 11.25 15.5V6.5C11.25 6.225 11.025 6 10.75 6ZM14.75 3H13.25C12.975 3 12.75 3.225 12.75 3.5V15.5C12.75 15.775 12.975 16 13.25 16H14.75C15.025 16 15.25 15.775 15.25 15.5V3.5C15.25 3.225 15.025 3 14.75 3ZM18.75 0H17.25C16.975 0 16.75 0.225 16.75 0.5V15.5C16.75 15.775 16.975 16 17.25 16H18.75C19.025 16 19.25 15.775 19.25 15.5V0.5C19.25 0.225 19.025 0 18.75 0Z"
            fill="#C85400"
          />
        </g>
        <defs>
          <clipPath id="clip0_131_693">
            <rect width="20" height="16" fill="white" />
          </clipPath>
        </defs></svg
      >See ranks
    </div>
  </div>
</div>
